<!DOCTYPE html>
<html>
<head>
  <title>Soulplaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCeu4DR5ABrEuUwmL0taA31_5FFJ08Tt4I&sensor=FALSE">
    </script>
</head>
<body onload="initialize()">

<%= render 'layouts/header' %>
<% flash.each do |type, message| %>
	<div class="alert alert-info fade-in">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  <%= message %>
</button>
	</div>
<% end %>
<div class="container">

<%= yield %>
</div>

</body>
</html>
